<?xml version="1.0" encoding="UTF-8" ?>
<configuration> 

    <appender name="glits" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>./glits/glits.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./glits/%d{yyyyMMdd}/glits-%d{yyyyMMdd}-%i.log</fileNamePattern>  		
			<timeBasedFileNamingAndTriggeringPolicy 
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
				<maxFileSize>3KB</maxFileSize>    
			</timeBasedFileNamingAndTriggeringPolicy>    		
		</rollingPolicy>  		
		<encoder>  
			<Pattern>%d{yyyyMMdd HH:mm:ss SSS} %p [%t] [%F:%L] - %m%n</Pattern>    
		</encoder>  
	</appender>   
	<logger name="grandland.glits" level="INFO">  
    	<appender-ref ref="glits" />
	</logger>
	
</configuration> 